.no-resize{
    resize: none;
    margin-bottom: 0;
}


.btn-opacity {
    opacity: 0.6;
}

.btn-unclick {
    pointer-events: none;
    cursor:default;
}

.bg-color-card {
    background-color: rgba(13, 109, 253, 0.05)!important;
}

.title-block {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
}

#title {
    font-size: 300%;
    text-decoration: none;
    color: #737373;
    font-family: sans-serif;
    margin-bottom: 0;
}

#subtitle {
    font-size: 120%;
    font-style: italic;
    color: #8c8c8c;
    font-family: monospace;
}


#footer-block {
    text-align: center;
    margin-top: 20px;
    color: #737373;
}

.card-tam {
    min-height: 300px;
}

:root {
    --bd-blue-bg: #007bff; /* Bootstrap's blue color */
    --bs-white: #ffffff; /* Pure white */
  }
  
.custom-tooltip {
    --bs-tooltip-bg: var(--bd-blue-bg) !important;
    --bs-tooltip-color: var(--bs-white) !important;
  }